<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L-EVENT GROUP AB - Vi är billigast i Skåne!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    
</head>
<body>
    
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")" style="">
                <img id="logotypLevent" src="~/Content/bilder/logo2.png"  alt=" LÄRNERHEMSEVENT">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">

                        <a class="nav-link" href="@Url.Action("Index", "Home")"><img src="~/Content/bilder/homeicon.png" style="height:25px; width:25px;" /> Hem <span class="sr-only"></span></a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Boka")"><img src="~/Content/bilder/calendaricon.png" style="height:25px; width:25px;" /> Boka</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Omoss")"><img src="~/Content/bilder/infoicon.png" style="height:25px; width:25px;" /> Om oss</a>
                    </li>
                </ul>
                <img src="~/Content/bilder/sloganLevent.png" style="height:20%; width:20%; float:right;" />
            </div>

        </nav>
        
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        

<footer class="footer-container">

                <h4>Kontakt</h4>
                <div class="footer-item">
                            <img src="~/Content/bilder/adress.png"/><p>Nornegatan 3 <br/>
                    Malmö
                    <br/>
                    21620</p>
                </div>

                <div class="footer-item">
                            <img src="~/Content/bilder/phone.png" /><p>0736379760</p>
                </div>

                <div class="footer-item">
                            <img src="~/Content/bilder/contact.png" /><p><a href="mailto:larnerhem@hotmail.com" target="_top">larnerhem@hotmail.com</a></p>
                </div>

</footer>
<section>
            <div class="social-container">
                <p><B>Följ oss på sociala medier</B></p>
                <div class="social-img">
                    <a target="_blank" href="https://www.facebook.com/www.larnerhemsevent.se/"><img src="~/Content/bilder/socialmedia/facebooklogo.png" /></a>
                    <a target="_blank" href="https://www.instagram.com"><img src="~/Content/bilder/socialmedia/instagramlogo.png" /></a>
                </div>
            </div>
            <p id="footerText">&copy; @DateTime.Now.Year L-Event AB - All rights reserved</p>
</section>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
