@model IEnumerable<LarnerhemsEvent.Models.ViewModels.VMPackOrder>

@{
    ViewBag.Title = "Boka";
}

<br />
<div id="bar-boka" class="btn-bar-boka" style="width:100%"></div>


<button class="tablinkBoka" disabled style="background-color:#02b875"><b>Steg 1.</b><br />Tält</button>
<button class="tablinkBoka" disabled style="background-color:#02b875"><b>Steg 2.</b><br />Golv</button>
<button class="tablinkBoka" disabled style="background-color:#02b875"><b>Steg 3.</b><br />Ljud</button>
<button class="tablinkBoka" disabled style="background-color:#02b875"><b>Steg 4.</b><br />Ljus</button>
<button class="tablinkBoka" disabled style="background-color:#02b875"><b>Steg 5.</b><br />Tillbehör</button>
<button class="tablinkBoka" onclick="openPage('steg6', this, 'white')" id="defaultOpen"><b>Steg 6.</b><br />Slutför</button>
<br />

<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>


<div class="tabcontent-containerBoka">
    @using (Html.BeginForm())
    {
        @*------------------Steg6 Slutför-------------------------*@

        <div id="steg6" class="tabcontentBoka">
            <h1>Slutför</h1>
            <div class="boka-shoppingcart-container">
                <img src="~/Content/bilder/shopping-cart.png" />
                <h5>Totalsumma</h5>
                <h6 id="totalsumma" style="color:red;">@TempData["summa"] Kr</h6>
            </div>
            <div class="boka-products-container">
                <div class="boka-Products-slutfor-container">
                    <div class="slutfor-valda-produkter-bander">
                        <h2>1. Valda produkter</h2>
                    </div>

                    @foreach (var item in Model)
                    {
                        if (item.VMPackages.fk_genre_id != 1)
                        {

                            <table class="table" style="width:100%;">
                                <thead id="package-slutfor-banner">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Antal</th>
                                        <th scope="col">Namn</th>
                                        <th scope="col">Pris</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="table-light">
                                        <td id="table-package-im"><img class="table-slutfor-im" src="~/@Html.DisplayFor(Model => item.VMPackages.img)" /></td>
                                        <td id="table-package-amount">@Html.DisplayFor(Model => item.antal)</td>
                                        <td id="table-package-name">@Html.DisplayFor(Model => item.VMPackages.name)</td>
                                        <td id="table-package-price">@Html.DisplayFor(Model => item.VMPackages.price) Kr / st</td>
                                        <td id="table-package-button"><button onclick="ReqFalse()" class="btn btn-danger btn-group-lg" value="@item.VMPackages.packageID" name="taBortPack">Ta Bort</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <table class="table" style="width:100%;">
                                <thead id="package-slutfor-banner">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Antal</th>
                                        <th scope="col">Namn</th>
                                        <th scope="col">Pris</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="table-light">
                                        <td id="table-package-im"><img class="table-slutfor-im" src="~/@Html.DisplayFor(Model => item.VMPackages.img)" /></td>
                                        <td id="table-package-amount">@Html.DisplayFor(Model => item.antal)</td>
                                        <td id="table-package-name">@Html.DisplayFor(Model => item.VMPackages.name)</td>
                                        <td id="table-package-price">@Html.DisplayFor(Model => item.VMPackages.price) Kr / st</td>
                                        <td style="visibility:hidden;" id="table-package-button"><button class="btn btn-danger btn-group-lg">Ta Bort</button></td>
                                    </tr>
                                </tbody>
                            </table>

                        }
                    }
                    <br />
                    <div id="monteringsdiv">
                        <img src="~/Content/bilder/wrench-24261_1280.png" />
                        <h6 style="margin-top: 4%;">MONTERING OCH DEMONTERING INGÅR ALLTID</h6>
                    </div>
                    <div id="monteringsdiv">
                        <img src="~/Content/bilder/leverans.png" />
                        <h6 style="margin-top: 4%;">ALLTID FRI LEVERANS INOM MALMÖ. UTANFÖR MALMÖ TILLKOMMER EN KOSTNAD PÅ 35 KR / MILEN</h6>
                    </div>
                    <div id="monteringsdiv">
                        <img src="~/Content/bilder/magicwand.png" />
                        <h6 style="margin-top: 4%;">VI KAN TILLHANDAHÅLLA UNDERHÅLLNING TILL EVENEMANGET SÅ SOM ARTISTER, MAGIKER, HOPPBORG OCH FÖRELÄSARE TILL BRA PRISER. SKRIV I ÖVRIGTFÄLTET VID INTRESSE.</h6>
                    </div>



                </div>
            </div>
            
            <div id="slutfor-valda-prod" class="slutfor-valda-produkter-bander">
                <h2>2. Person- och leveransuppgifter</h2>
            </div>
            <div class="gdpr-container">
                <small class="form-text text-muted"><b>GDPR:</b> Vi på L-event behöver dina personuppgifter för att kunna hantera din bokning på bästa möjliga sätt. 
                Även för att se att du är en faktisk person och inte en robot.
                Vi lagrar dina uppgifter enligt GDPR-lagen. Det är endast vår egen IT-personal som hanterar dina uppgifter.</small>
            </div>

            <div class="Customer-input-container">
                <div class="two-input">
                    <div class="form-group" id="input-1">
                        <label>* Förnamn</label>
                        <input type="text" class="form-control" name="firstname" maxlength="15" pattern="[A-Za-z,åäö,ÅÄÖ]{1,}" title="Endast bokstäver." id="firstname1">
                        <small class="form-text text-muted">Fyll i ditt förnamn</small>
                    </div>

                    <div class="form-group" id="input-2">
                        <label>* Efternamn</label>
                        <input type="text" class="form-control" name="lastname" maxlength="15" pattern="[A-Za-z,åäö,ÅÄÖ]{1,}" title="Endast bokstäver." id="lastname1">
                        <small id="emailHelp" class="form-text text-muted">Fyll i ditt efternamn</small>
                    </div>
                </div>

                <div class="two-input">
                    <div class="form-group" id="input-1">
                        <label>* Leveransadress</label>
                        <input type="text" class="form-control" name="address" maxlength="30" id="address1">
                        <small class="form-text text-muted">Fyll i den adress där evenemanget ska äga rum</small>
                    </div>

                    <div class="form-group" id="input-2">
                        <label>* Ort</label>
                        <input type="text" class="form-control" name="town" maxlength="20" pattern="[A-Za-z,åäö,ÅÄÖ]{1,}" title="Endast bokstäver." id="town1">
                        <small class="form-text text-muted">Fyll i din ort</small>
                    </div>
                </div>

                <div class="two-input">
                    <div class="form-group" id="input-1">
                        <label>* Postnr</label>
                        <input type="tel" class="form-control" name="zipcode" maxlength="10" pattern="\d*" title="Endast siffror." id="zipcode1">
                        <small class="form-text text-muted">Fyll i ditt postnr</small>
                    </div>

                    <div class="form-group" id="input-2">
                        <label>* Evenemangsdatum</label>
                        <input type="date" class="form-control" name="date" id="date1">
                        <small class="form-text text-muted">Fyll i det datum då evenemanget ska äga rum.</small>
                    </div>
                </div>

                <div class="two-info">
                    <div class="form-group" id="input-1">
                        <label for="exampleInputEmail1">* E-postadress</label>
                        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" maxlength="30" id="email1">
                        <small id="emailHelp" class="form-text text-muted">Fyll i din E-postadress</small>
                    </div>

                    <div class="form-group" id="input-2">
                        <label>* Mobilnummer</label>
                        <input type="tel" class="form-control" name="telenumber" maxlength="15" pattern="\d*" title="Endast siffror." id="telenumber1">
                        <small class="form-text text-muted">Fyll i ditt mobilnummer</small>
                    </div>
                </div>

                <div class="two-info">
                    <div class="form-group" id="input-1">
                        <label for="exampleTextarea">Övriga frågor</label>
                        <textarea class="form-control" name="moreinfo" rows="5" maxlength="250" style="max-height:143px; min-height:50px;" id="moreinfo"></textarea>
                        <small class="form-text text-muted">Fyll i övriga frågor angående din bokning</small>
                    </div>
                    <div class="form-group" id="input-2">
                        <label>Kampanjkod</label>
                        <input type="text" class="form-control" name="kampanjkod" maxlength="30" id="kampanjkod">
                        <small class="form-text text-muted">Fyll i eventuell kampanjkod</small>
                        <small id="campaignecodetext" style="color:red">@TempData["campaigncodeText"]</small>
                    </div>
                    <div class="slutfor-button-container">
                        <input type="submit" onclick="ReqTrue()" class="btn btn-success btn-lg" id="slutfor-bokning" value="Skicka bokningsförfrågan">
                    </div>
                </div>
                <br />
                <div class="info-bokningsforfragan">
                    <h6 style="float:left;">
                        OBS! Detta är endast en bokningsförfrågan och inte en direkt bokning.
                        Ordern kommer sedan att hanteras av oss för att säkerhetsställa tillgänglighet av personal och produkt.
                        Därefter kommer en bekräftelse skickas till er via mail som pdf.
                    </h6>
                </div>
                <br />
                <div class="info-obligatorisk">
                    <small class="form-text text-muted" style="float:left; margin-bottom:5%;">Fält markerade med * är obligatoriska och måste fyllas i.</small>
                </div>

            </div>

            <br />
            <br />
            <div>
                <button id="tillbaka" onclick="ReqFalse()" value="true" name="tillbaka" class="btn btn-secondary btn-group-lg" style="float:left;">⇐ Tillbaka</button>
            </div>
            

            <p></p>
            <div>
                <h6>Steg 6 av 6</h6>
            </div>
    

        </div>

    }
</div>
<script>


    function ReqTrue() {
        var firstname, lastname, address, town, zipcode, date, email, telenumber;

        firstname = document.getElementById("firstname1");
        lastname = document.getElementById("lastname1");
        address = document.getElementById("address1");
        town = document.getElementById("town1");
        zipcode = document.getElementById("zipcode1");
        date = document.getElementById("date1");
        email = document.getElementById("email1");
        telenumber = document.getElementById("telenumber1");

        firstname.setAttribute("required", "");
        lastname.setAttribute("required", "");
        address.setAttribute("required", "");
        town.setAttribute("required", "");
        zipcode.setAttribute("required", "");
        date.setAttribute("required", "");
        email.setAttribute("required", "");
        telenumber.setAttribute("required", "");

    }
    function ReqFalse() {

        var firstname, lastname, address, town, zipcode, date, email, telenumber;

        firstname = document.getElementById("firstname1");
        lastname = document.getElementById("lastname1");
        address = document.getElementById("address1");
        town = document.getElementById("town1");
        zipcode = document.getElementById("zipcode1");
        date = document.getElementById("date1");
        email = document.getElementById("email1");
        telenumber = document.getElementById("telenumber1");

        firstname.removeAttribute("required");
        lastname.removeAttribute("required");
        address.removeAttribute("required");
        town.removeAttribute("required");
        zipcode.removeAttribute("required");
        date.removeAttribute("required");
        email.removeAttribute("required");
        telenumber.removeAttribute("required");
    }
</script>
<script src="~/Scripts/BokaScript.js"></script>




